<%= form_for(@current_stat) do |f| %>
  <% if @current_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@current_stat.errors.count, "error") %> prohibited this current_stat from being saved:</h2>

      <ul>
      <% @current_stat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :metric_id %><br />
    <%= f.text_field :metric_id %>
  </div>
  <div class="field">
    <%= f.label :device_id %><br />
    <%= f.text_field :device_id %>
  </div>
  <div class="field">
    <%= f.label :string_value %><br />
    <%= f.text_field :string_value %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
